body{
    font-family:'Poppins';
    margin:0;
}
footer{
    position:relative;
    height:50px;
    align:justify;
}
footer p{
    font-family: 'Poppins';
    text-align:center;
    color:grey;
}
h1{
    font-size:4.9vw;
    font-weight:700px;
    line-height:0px;
}
h2{
    font-size:3.0vw;
}
.footer-elements h3{
    text-align:center;
    line-height:0px;
    font-weight:700px;
}
.footer-elements h5{
    text-align:center;
    color:#595959;
}
.highlight{
    color:#ff3385;
}
.section-paragragh{
    text-align:justify;
}
.half-width{
    max-width:50%;
    max-height:100%;
    float:left;
    margin: auto;
}
.half-width img{
    max-width:100%;
    background-position:50% 50%;
    display:inline-block;
    background-size:100%;
}
.latest-work-div{
    max-height:100%;
    float:left;
    margin: auto;
}
section{
    max-height:100%;
    max-width:100%;
    padding:5% 10%;
    margin:0;
}
.link-button{
    background-image:linear-gradient(-155deg,#ff0066,#ff80b3);
    color:white;
    border-radius:10px;
    font-weight:bold;
    padding:10px 30px;
    text-decoration:none;
    display:inline-block;
}
.top-section{
    background-image:url('images/header-bg.png');
    background-repeat:no-repeat;
    background-size:100%;
    overflow:auto;
}
.biography-section{
    background-image:url('images/biography-bg.png');
    background-repeat:no-repeat;
    background-height:100%;
    background-width:100%;
    overflow:auto;
}
.latest-work-section{
    background-image:url('images/latest-work-bg.png');
    background-repeat:no-repeat;
    background-size:100%;
    overflow:auto;
}
.footer-section{
    background-image:url('images/footer-bg.png');
    background-repeat:no-repeat;
    background-size:100%;
    overflow:auto;
}
#bio-para{
    padding-left:5vw;
}
#bio-link{
    margin-left:5vw;
}
#latest-div-header h2{
    text-align:center;
}
#footer-header h2{
    text-align:center;
}
.latest-work-div * {
  box-sizing: border-box;
}

.img-column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.img-row::after {
  content: "";
  clear: both;
  display: table;
}
.overlay {
  position:relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through. yup... copied from a tutorial. inspired by Jhankar Mahbub vai. */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.img-column:hover .overlay {
  opacity: 1;
}
.img-column a{
    text-decoration:none;
}
.footer-elements{
    margin:auto;
    max-width:50%;
    align:justify;
}
.footer-elements p{
    text-align:center;
    padding:10px;
}
.footer-link-div{
    width:100%;
    margin:auto;
    align:center;
}
#footer-link-button{
    background-color:#ff3385;
    color:white;
    border-radius:10px;
    font-weight:bold;
    padding:10vh 10vw;
    text-decoration:none;
    text-align:center;
    display:block;
    margin:auto;
}
#link-text-highlight{
    font-size:3vh;
    font-weight:bold;
    font-height:0; 
}
